<h2 mat-dialog-title class="title">Tell me who you are and {{title.toLowerCase()}}</h2>
<div mat-dialog-content>
  <form name="authForm" #authForm="ngForm" class="main-content">
    <mat-form-field>
      <input name="authEmail" [(ngModel)]="email" #inEmail="ngModel" required  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field *ngIf="data.dialogType === dialogType.SignUp">
      <input name="authUserName" [(ngModel)]="userName" #upNickname="ngModel" required matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input name="authPassword" [(ngModel)]="password" required #upPassword="ngModel" matInput
        [type]="hidePass ? 'password' : 'text'" placeholder="Password">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button *ngIf="data.dialogType === dialogType.SignIn" mat-button (click)="resetPasswordDialog()">Reset Password</button>
  </form>
</div>
<div class="actions">
  <button mat-raised-button (click)="close()">Back</button>
  <button *ngIf="authForm.valid || authForm.untouched" mat-raised-button color="primary"
    (click)="data.dialogType === dialogType.SignUp ? signUp() : data.dialogType === dialogType.SignIn? signIn(): resetPassword()">{{title}}</button>
</div>
