<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <button *ngIf="comment.author.id === currentUser?.id && !editComment" class="edit" mat-icon-button color="primary" (click)="editComment = true">
      <mat-icon  matBadgeColor="accent" matBadgeSize="small"
         aria-label="Edit">edit</mat-icon>
    </button>
    <button *ngIf="comment.author.id === currentUser?.id && editComment" class="edit" mat-icon-button color="primary" (click)="deleteComment()">
      <mat-icon  matBadgeColor="accent" matBadgeSize="small"
         aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="!editComment">{{comment.body}}</p>
    <div *ngIf="editComment" class="update-comment">
      <mat-form-field>
        <textarea [(ngModel)]="comment.body" matInput></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="updateComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon matBadge="{{getLikeCount()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getLikeCount() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()">
      <mat-icon matBadge="{{getDislikeCount()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="getDislikeCount() === 0" aria-label="Like">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-expansion-panel *ngIf="getLikeCount() !== 0">
    <mat-expansion-panel-header>
    <mat-panel-title>Liked by:</mat-panel-title>
  </mat-expansion-panel-header>
    <div class="liked">
      <img *ngFor="let _rection of getLiked() " mat-card-avatar src="{{_rection.user.avatar}}" alt="{{_rection.user.userName}}"/>
    </div>
  </mat-expansion-panel>
</mat-card>