<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    <button *ngIf="editPost && post.previewImage" class="editImg" mat-icon-button color="primary">
      <mat-icon aria-label="Close" (click)="removeImage()">close</mat-icon>
    </button>
    <button *ngIf="post.author.id === currentUser?.id && !editPost" class="edit" mat-icon-button color="primary" (click)="editPost = true">
      <mat-icon  matBadgeColor="accent" matBadgeSize="medium"
         aria-label="Edit">edit</mat-icon>
    </button>
    <button *ngIf="post.author.id === currentUser?.id && editPost" class="edit" mat-icon-button color="primary" (click)="deletePost()">
      <mat-icon  matBadgeColor="primary" matBadgeSize="medium"
         aria-label="Delete">delete</mat-icon>
    </button>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p *ngIf="!editPost">{{post.body}}</p>
    <div class="update-post" *ngIf="editPost">
        <textarea matInput (keydown.shift.enter)="updatePost()" [(ngModel)]="post.body"></textarea>
        <button *ngIf="editPost" mat-icon-button color="primary" matTooltip="Update it" (click)="updatePost()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div *ngIf="editPost" class="file">
      <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
    </div>
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matBadge="{{getLikeCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getLikeCount() === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikePost()">
      <mat-icon matBadge="{{getDislikeCount()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="getDislikeCount() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button (click)="share()" mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <mat-expansion-panel *ngIf="getLikeCount() !== 0">
    <mat-expansion-panel-header>
    <mat-panel-title>Liked by:</mat-panel-title>
  </mat-expansion-panel-header>
    <div *ngIf="getLikeCount() !== 0" class="liked">
      <img *ngFor="let _rection of getLiked() " mat-card-avatar src="{{_rection.user.avatar}}" alt="{{_rection.user.userName}}"/>
    </div>
  </mat-expansion-panel>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" (delete)="deleteComment($event)" [comment]="_comment"></app-comment>
  </div>
</mat-card>